{
  "parser": "babel-eslint",
  "extends": "react-app",
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "arrow-body-style": [
      1,
      "as-needed"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "radix": 0,
    "no-param-reassign": "off",
    "no-plusplus": 0,
    "import/imports-first": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "max-len": 0,
    "object-curly-newline": 0,
    "newline-per-chained-call": 0,
    "no-console": 1,
    "no-use-before-define": 0,
    "prefer-template": 2,
    "no-unused-vars": 0,
    "require-yield": 0,
    "padded-blocks": 0,
    "no-return-assign": 0,
    "lines-between-class-members": 0,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "react/jsx-space-before-closing": 1,
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "arrow-parens": 2
  }
}
